version: "3.9"

services:
  nuxt:
    build:
      context: .
      dockerfile: Dockerfile
      args:
      
        NUXT_PUBLIC_API_BASE_URL: ${NUXT_PUBLIC_API_BASE_URL}
        NUXT_GOOGLE_CLIENT_ID: ${NUXT_GOOGLE_CLIENT_ID}
        NUXT_SESSION_PASSWORD: ${NUXT_SESSION_PASSWORD}
        NUXT_PUBLIC_MEDIA_BASE_URL: ${NUXT_PUBLIC_MEDIA_BASE_URL}
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "3000:3000"
